/*FOOTER START*/

section {
    margin-top: 10em;
    border-top: 2px solid;
    border-color: black;
}

.PF {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.logo {
    transition: transform 250ms;
    display: inline-block;
}

.logo:hover {
    transform: translateY(-2px);
}

.logo-saluduo {
    width: 10rem;
    height: auto;
}

/*FOOTER END*/