/*FOOTER START*/

:root {
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section {
    margin-top: 10em;
    border-top: 2px solid;
    border-color: black;
}

.PF {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.logo {
    transition: transform 250ms;
    display: inline-block;
}

.logo:hover {
    transform: translateY(-2px);
}

.logo-saluduo {
    width: 10rem;
    height: auto;
}

.article-image {
    width: 20rem;
    height: auto;
}

.drop-shadow {
    box-shadow: var(--box-shadow);
}


/*FOOTER END*/