/*FOOTER START*/
section {
    margin-top: 10em;
    border-top: 2px solid;
    border-color: black;
}

.PF {
    font-size: 20px;
    font-weight: bold;
}

.logo {
    transition: transform 250ms;
    display: inline-block;
}

.logo:hover {
    transform: translateY(-2px);
}

/*FOOTER END*/