.linkedIn {
    margin: 0 5px;
    transition: transform 250ms;
    display: inline-block;
    color: black;
}
.linkedIn:hover {
    transform: translateY(-2px);
}

.GitHub {
    margin: 0 5px;
    transition: transform 250ms;
    display: inline-block;
    color: black;
}
.GitHub:hover {
    transform: translateY(-2px);
}

.name {
    font-weight: bold;
    font-size: 30px;
}

.description {
    font-size: 20px;
}