/*FOOTER START*/
.Footer{
    background-color: white;
}
.logo {
    transition: transform 250ms;
    display: inline-block;
}

.logo:hover {
    transform: translateY(-2px);
}

.devs {
    margin-top: 50px;
    font-size: 20px;
    color: black;
}


/*FOOTER END*/