/*FOOTER START*/
#footer {
    margin-top: 10em;
    border-top: 2px solid;
    border-color: black;
}

.modal-footer {
    background-color: white;
}

.logo {
    transition: transform 250ms;
    display: inline-block;
}

.logo:hover {
    transform: translateY(-2px);
}

.devs {
    font-size: 25px;
    color: black;
}


/*FOOTER END*/